<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80750108764-3ue1o2tjahr6skrs168ltg9mep8ntsqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80750108764-3ue1o2tjahr6skrs168ltg9mep8ntsqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDdwLlA6fQbuz_cV2qHgVq9Har0X3UgE-s</string>
	<key>GCM_SENDER_ID</key>
	<string>80750108764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.xhzq.atonement</string>
	<key>PROJECT_ID</key>
	<string>xhzq233-firebase-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>xhzq233-firebase-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80750108764:ios:20c03a4e931003ee430699</string>
</dict>
</plist>
